@import "../../../scss/variables";
@import "../../../scss/mixins";
@import "../../../scss/extends";

.area {
  margin: 15px 5px;
  display: flex;
  flex-direction: column;

  .textAreaWrapper {
    @extend %fieldWrapper;
    height: 150px;

    textarea {
      resize: none;
      height: 150px;

      @extend %field;

      &::placeholder {
        font-weight: 100;
        color: $primary;
        opacity: 0.6;
      }

      &:focus {
        transition: all 0.3s ease-in-out;
        background-color: $grey;
        min-height: 150px;
      }
    }
  }

  label {
    @extend %label;
  }

  .error {
    @extend %error;
  }
}
