@import "../../scss/extends";

.filterWrapper {
  section {
    @extend %center;
    padding: 20px 20px 10px 20px;
  }
}

.listWrapper {
  @extend %center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1920px;
  overflow-x: hidden;
}
