@import "../../scss/variables";
@import "../../scss/mixins";
@import "../../scss/extends";

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0;

  background-image: url("../../assets/image/backgroundPage/backRecipe.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

  .recipeWrapper {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .buttonWrapper {
      margin-right: 25px;
      align-self: flex-end;

      button {
        margin-right: auto;
        width: 120px;
        height: 50px;
        margin: 10px 0px;
        background-color: $buttonReset;

        &:hover {
          background-color: $buttonHover;
          color: $white;
        }

        @extend %button;
      }
    }
  }
}
