@import "../../scss/mixins";
@import "../../scss/variables";

.container {
  padding: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 50px;

  @include breakpoint(sm) {
    padding: 60px;
  }

  @include breakpoint(md) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    min-height: 670px;
  }

  @include breakpoint(lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint(xxl) {
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 40px;
  }
}
