@import "../../scss/variables";
@import "../../scss/mixins";

.inputWrapper {
  position: relative;

  input {
    background-color: $white;
    background-image: url("../../assets/image/magnifier_search_zoom_icon.svg");
    background-position: 10px 2px;
    background-size: 35px auto;
    background-repeat: no-repeat;
    font-size: $font;
    border: 1px solid $primary;
    padding: 10px 55px;
    width: 300px;
    outline: none;
    border-radius: 20px;
    color: $dark;

    &:focus {
      transition: all 0.3s ease-in-out;
      background-color: $grey;
      width: 320px;
      border: 1px solid $dark;
    }

    @include breakpoint(sm) {
      width: 400px;

      &:focus {
        width: 400px;
      }
    }
  }

  svg {
    position: absolute;
    right: 13px;
    top: 6px;
    cursor: pointer;
    width: 30px;
    height: auto;

    &:active path {
      transition: all 0.2s ease-in-out;
      fill: $dark;
    }
  }
}
