@import "../../scss/variables";
@import "../../scss/mixins";
@import "../../scss/extends";

.container {
  margin: 0 auto;
  position: relative;

  @include breakpoint(xxxl) {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

  .blurWrapper {
    @extend %center;

    flex-direction: column;
    gap: 20px;
    border-radius: 40px;
    backdrop-filter: blur(10px);
    width: 100%;
    height: auto;
    padding: 40px;

    @include breakpoint(sm) {
      margin: 10px auto;
      width: 500px;
    }

    @include breakpoint(md) {
      margin: 10px auto;
      width: 600px;
    }

    @include breakpoint(lg) {
      width: 800px;
    }

    @include breakpoint(xxxl) {
      flex-basis: 50%;
      margin: 0px 150px;
    }

    h1 {
      text-align: center;
      font-size: $font-md;
      color: $dark;
      font-weight: 600;
      letter-spacing: 0.3px;
      text-transform: uppercase;
      text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);

      @include breakpoint(sm) {
        font-size: $font-lg;
      }
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    p {
      color: $dark;
      text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
      font-size: $font-sm;
      margin: 0 auto;
      width: 100%;
      height: auto;
      text-align: center;
      font-weight: 500;
    }
  }

  .timeBLock {
    @extend %center;
    flex-direction: column;

    gap: 20px;
    width: 100%;
    border-radius: 40px;
    padding-top: 20px;
    backdrop-filter: blur(10px);

    @include breakpoint(sm) {
      flex-direction: row;
      gap: 20px;
      white-space: nowrap;
    }

    p {
      color: $dark;
      text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
      font-size: $font;
      height: auto;
      font-weight: 700;
    }
  }

  .ingredientsWrapper {
    @extend %recipeWrapper;

    h2 {
      @include breakpoint(xxxl) {
        font-size: $font-lg;
      }
    }

    @include breakpoint(xxxl) {
      margin: 0;
      align-items: center;
      justify-content: center;
      font-size: $font-lg;
    }

    .ingredients {
      @extend %manual;

      @include breakpoint(sm) {
        margin: 0px 50px;
      }

      ul {
        @extend %list;

        @include breakpoint(sm) {
          max-width: 100%;
        }

        li {
          @include breakpoint(xxxl) {
            font-size: $font-md;
          }
        }
      }
    }
  }

  .instructionsWrapper {
    @extend %recipeWrapper;

    @include breakpoint(xxxl) {
      max-width: 1000px;
      margin: 50px;
    }

    h2 {
      @include breakpoint(xxxl) {
        font-size: $font-lg;
        text-align: center;
      }
    }

    .instructions {
      @extend %manual;

      @include breakpoint(sm) {
        margin: 0px 50px;
      }
      ol {
        @extend %list;

        @include breakpoint(sm) {
          max-width: 100%;
        }

        li {
          @include breakpoint(xxxl) {
            font-size: $font-sm;
          }
        }
      }
    }
  }

  .video {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    iframe {
      border-radius: 20px;

      @include breakpoint(sm) {
        width: 500px;
        height: 500px;
      }

      @include breakpoint(md) {
        width: 600px;
        height: 500px;
      }
    }
  }
}
