@import "./variables";

%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%error {
  margin-left: 25px;
  color: $danger;
  font-size: 14px;
  font-weight: 700;
}

%label {
  margin-left: 25px;
  font-size: $font;
  font-weight: 500;
  color: $dark;
}

%fieldWrapper {
  margin: 10px 0;
  box-shadow: #457b9d 0px 1px 2px 0px, #457b9d 0px 1px 3px 1px;
  border-radius: 20px;
  background-color: $white;
}

%field {
  color: $dark;
  cursor: pointer;
  border-radius: 20px;
  width: 100%;
  padding: 10px 25px;
  font-size: $font-sm;
  border: none;
  outline: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

%button {
  font-size: $font;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-weight: 600;
  color: $white;
  border: none;
  border-radius: 40px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

  &:disabled {
    cursor: not-allowed;
    background-color: $disabled;
    color: $hoverDisabled;
  }
}

%picAbout {
  visibility: hidden;
  position: absolute;
  width: 300px;
  height: auto;

  @media (min-width: 1200px) {
    visibility: visible;
  }

  @media (min-width: 1400px) {
    width: 400px;
  }
}
