$default-font: "Space Grotesk", sans-serif;

//colors
$primary: #457b9d;
$secondary: #a8dadc;
$dark: #1d3557;
$light: #f1faee;
$danger: #e63946;
$white: #ffffff;

//fonts
$font: 1rem;
$font-sm: 1.2rem;
$font-md: 1.4rem;
$font-lg: 1.6rem;
