$default-font: "Space Grotesk", sans-serif;

//colors
$dark: #002b5b;
$primary: #457b9d;
$secondary: #a8dadc;
$danger: #e63946;
$grey: #f2f2f2;
$white: #ffffff;
$formColor: #edf2f4;
$buttonReset: #00bfff;
$buttonHover: #1e90ff;
$buttonSubmit: #2ecc71;
$disabled: #dddddd;
$hoverDisabled: #9e9e9e;
$black: #000000;

//fonts
$font: 1rem;
$font-sm: 1.2rem;
$font-md: 1.4rem;
$font-lg: 1.6rem;
