@import "../../../scss/variables";
@import "../../../scss/mixins";
@import "../../../scss/extends";

.field {
  margin: 15px 5px;

  .inputWrapper {
    @extend %fieldWrapper;

    input {
      @extend %field;
      height: 50px;

      &::placeholder {
        font-weight: 100;
        color: $primary;
        opacity: 0.6;
      }

      &:focus {
        transition: all 0.3s ease-in-out;
        background-color: $grey;
      }
    }
  }

  label {
    @extend %label;
  }

  .error {
    @extend %error;
  }
}
