@import "../../../scss/variables";
@import "../../../scss/extends";

.checkboxGroup {
  margin: 20px;
  color: $primary;

  .label {
    margin-left: 25px;
    font-size: $font;
    font-weight: 500;
    color: $dark;
  }

  .checkboxWrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

    .checkbox {
      display: flex;
      align-items: center;
      padding: 10px 0px;

      input[type="checkbox"] {
        cursor: pointer;
        width: 20px;
        height: 20px;
      }

      input[type="checkbox"]:checked + label {
        color: $dark;
      }

      label {
        cursor: pointer;
        padding-left: 15px;
        font-size: $font-sm;
        font-weight: 600;
      }
    }
  }

  .error {
    @extend %error;
  }
}
